@import url(../../swiperhome.css);
.home-mehsullar {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 100px 60px;
    width: 100%;
    gap: 20px;
    
}



.home-mehsullar .card {
    margin: 0 auto;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.home-mehsullar>h2 {
    color: var(--primary2);
    align-self: flex-start;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 120px;
    /* 100% */
    letter-spacing: -1.8px;
}

.home-mehsullar button {
    align-self: flex-end;
    background-color: transparent;
    border: none;
}

.home-mehsullar button a {
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 100% */
    letter-spacing: -0.48px;
}

.home-mehsullar .fa-arrow-right {
    margin-left: 20px;
    transform: rotate(30deg);
}

.home-mehsullar h4 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.home-mehsullar p {
    font-family: var(--poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
}

.home-mehsullar span {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 100% */
    letter-spacing: -0.12px;
}
@media (max-width:768px) {
    .home-mehsullar>h2{
        font-size: 70px;
        align-self: center;
    }
}
@media (max-width:576px) {
    .home-mehsullar>h2{
        font-size: 60px;
    }
}