.home-elaqe {
    color: #fff;
    /* padding-bottom: 50px; */
    padding: 0 20px 50px;

}

.home-elaqe h2 {
    color: var(--primary2);
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 120px;
    /* 100% */
    letter-spacing: -1.8px;
    text-align: center;
}

.home-elaqe .information {
    display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 70px;
   /* align-items: center; */
   
}

.home-elaqe .information .box {
    display: flex;
    flex-direction: column;
}

.home-elaqe .information .box div{
    display: flex;
    align-items: center;
    gap: 30px;
}

.home-elaqe .information .box p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-family: var(--poppins);
    margin-top: 0;

    
}
.home-elaqe .information .box span{
     display: inline-block;
     align-self: baseline;
}
.elaqe-icon{
    color: var(--primary2);
    font-size: 20px;

}
@media (max-width:768px) {
    
    .home-elaqe > h2{
        font-size: 70px;
    }
}
@media (max-width:576px) {
    
    .home-elaqe > h2{
        font-size: 60px;
       
    }
    .home-elaqe .information{
        flex-direction: column;
        align-items: start;
    }
}